<nav class="navbar navbar-expand-lg p-3 sticky-top custom-navbar">
  <div class="container">
    <div class="justify-content-end">
      <div class="justify-content-between">
        <a
          routerLinkActive="active"
          class="btn"
          aria-current="page"
          routerLink="home"
        >
          <span class="navbarSpan"> Home </span>
        </a>
        <a
          routerLinkActive="active"
          class="btn"
          aria-current="page"
          routerLink="dashboard"
        >
          <span class="navbarSpan"> Dashboard </span>
        </a>
        <a
          routerLinkActive="active"
          class="btn"
          aria-current="page"
          routerLink="login"
        >
          <span class="navbarSpan"> Sign In </span>
        </a>
        <a
          routerLinkActive="active"
          class="btn"
          aria-current="page"
          routerLink="register"
        >
          <span class="navbarSpan"> Sign Up </span>
        </a>
      </div>
    </div>
  </div>
</nav>
